<tr>
  <th><%= form.label :remote_id, "Remote ID" %></th>
  <td><%= form.text_field :remote_id %></td>
</tr>
<tr>
  <th><%= form.label :artist %></th>
  <td><%= form.text_field :artist %></td>
</tr>
<tr>
  <th><%= form.label :title %></th>
  <td><%= form.text_field :title %></td>
</tr>
<tr>
  <th><%= form.label :duration %></th>
  <td><%= form.text_field :duration %></td>
</tr>
<tr>
  <th><%= form.label :artwork_url, "Artwork URL" %></th>
  <td><%= form.text_field :artwork_url %></td>
</tr>
<tr>
  <th><%= form.label :permalink_url, "Permalink URL" %></th>
  <td><%= form.text_field :permalink_url %></td>
</tr>
<tr>
  <th><%= form.label :purchase_type, "Purchase Type" %></th>
  <td><%= form.text_field :purchase_type %></td>
</tr>
<tr>
  <th><%= form.label :purchase_url, "Purchase URL" %></th>
  <td><%= form.text_field :purchase_url %></td>
</tr>
