<%= content_tag("li") do %>
  <% if song.published_on.nil? %>
    <%= check_box_tag "ids[]", song.id, false, class: "publish", id: nil %>
  <% end %>

  <%= song.title %> <span class="byline">by <%= song.artist %></span>

  <ul>
    <li><%= link_to "Edit", edit_song_path(song) %></li>

    <% if song.published_on.nil? %>
      <li><%= link_to "Delete", song_path(song), class: "delete" %></li>
    <% end %>
  </ul>
<% end %>
