<header>
  <img src="<%= song.artworkUrl %>" width="48" height="48" class="artwork">

  <h1 title="<%= song.title %>"><%= song.title %></h1>
  <p><a href="<%= song.permalinkUrl %>" target="_blank">View on SoundCloud</a></p>
</header>

<section>
  <% if (loading) { %>
    <span class="loading">Loading&#133;</span>
  <% } else { %>
    <span class="time">0:00</span>
    <span class="bar"><span></span></span>
    <span class="time"><%= duration %></span>
  <% } %>
</section>
