<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="New songs every day.">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@dailysongsio">
  <meta name="twitter:title" content="Daily Songs">
  <meta name="twitter:description" content="New songs every day.">
  <meta name="twitter:url" content="http://dailysongs.io">

  <title>Daily Songs</title>

  <%= stylesheet_link_tag "application" %>
</head>
<body>

<section id="sidebar">
  <header>
    <a href="<%= root_path %>">
      <h1>Daily Songs</h1>
      <p>New songs every day.</p>
    </a>
  </header>

  <section id="player">
    <div class="tip">
      <p>
        <span>Tip</span> <%= tip %>
      </p>
    </div>
  </section>
</section>

<%= yield -%>

<footer>
  <p><a href="https://soundcloud.com" target="_blank" rel="nofollow">Powered by SoundCloud.</a></p>
</footer>

<script>
  (function(d) {
    var config = {
      kitId: 'xdy7csy',
      scriptTimeout: 3000
    },
    h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
  })(document);
</script>
<%= yield :javascript -%>

</body>
</html>
